{% extends 'base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div style="margin: auto;">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Игруха</span>
      </div>
    </div>
  </div>
  <div>
    <iframe src="http://www.freeonlinegames.com/embed/161377" width="800" height="450" frameborder="no" scrolling="no"></iframe>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}